# Python bytecode (el que mencionaste)
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entornos virtuales
venv/
env/
.env

# Archivos de configuración de editores (opcional)
.vscode/
.idea/

# Archivos temporales de Linux
.DS_Store
*.swp
